:root {
  --max-content-width: 60rem;
  --root-size-mobile: 12px;
  --root-size-desktop: 20px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: var(--root-size-mobile);
}

@media (min-width: 800px) {
  html {
    font-size: var(--root-size-desktop);
  }
}

body {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;

  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #eee;
}

a, a:visited {
  display: flex;
}

.content {
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  margin: auto;
}

h1, h2, h3, h4 {
  margin-bottom: 1rem;
}
